.tile
	text-align center
	padding 94px
	background-position center top
	background-repeat no-repeat
	background-size cover

	&__text
		font-size 40px
		font-weight 600
		margin-bottom 0

	&__text--small
		font-size 12px
		margin-bottom 0

	@media $MQ.lgDown
		padding 25px

	@media $MQ.mdDown

		&__text
			font-size 45px
