{% from "../macros/helpers.njk" import iconSVG %}
<!DOCTYPE html>
<html lang="cs" class="no-js">
	<head>
		<meta charset="utf-8">
		<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"><![endif]-->
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">

		<meta name="twitter:card" content="summary">
		<meta name="twitter:title" content="{{ pageTitle }} | Project">
		<meta name="twitter:description" content="">
		<meta name="twitter:image" content="http://www.example.com/image.jpg">

		<meta property="og:title" content="{{ pageTitle }} | Project">
		<meta property="og:description" content="">
		<meta property="og:image" content="http://www.example.com/image.jpg">
		<meta property="og:site_name" content="Project">
		<meta property="og:url" content="http://www.example.com/">

		<title>{{ pageTitle }} | Project</title>

		<link rel="stylesheet" href="{{ assets.styles }}style.css" media="screen">
		<link rel="stylesheet" href="{{ assets.styles }}print.css" media="print">

		<link rel="shortcut icon" href="{{ assets.images }}favicon.ico">

		<script src="{{ assets.scripts }}modernizr.min.js"></script>
		<script>
			(function () {
				var className = document.documentElement.className;
				className = className.replace('no-js', 'js');

				if (window.name.indexOf('fontsLoaded=true') > -1) {
					className += ' fonts-loaded';
				}

				document.documentElement.className = className;
			}());
		</script>
	</head>
	<body>
		<p class="m-accessibility">
			<a title="Přejít k obsahu (Klávesová zkratka: Alt + 2)" accesskey="2" href="#main">Přejít k obsahu</a>
			<span class="hide">|</span>
			<a href="#menu-main">Přejít k hlavnímu menu</a>
			<span class="hide">|</span>
			<a href="#form-search">Přejít k vyhledávání</a>
		</p>

		<header role="banner" class="header">
			<div class="row-main row-main--static">
				<div class="nav__top">
					<div class="grid grid--space-between grid--middle grid-flex-column-sm grid-flex-items-left-sm">
						<div class="grid__cell size--auto">
							<div class="grid grid-flex-column-sm">
								<div class="grid__cell size--auto u-mb-1-sm">
									<a href="tel:222262019" class="nav__link"><span class="nav__icon">{{ iconSVG('phone', 'icon-svg--sm') }}</span>+420 222 262 019</a>
								</div>
								<div class="grid__cell size--auto u-mb-1-sm">
									<p class="u-text-uppercase u-color-primary u-mb-0">
										<b>Po-Pá</b> 9:00 - 17:30
									</p>
								</div>
								<div class="grid__cell size--auto u-mb-1-sm">
									<a href="mailto:info@urbanstore.cz" class="nav__link"><span class="nav__icon">{{ iconSVG('envelope', 'icon-svg--sm') }}</span>info@urbanstore.cz</a>
								</div>
							</div>
						</div>
						<div class="grid__cell size--auto">
							<div class="grid grid-flex-column-sm">
								<div class="grid__cell size--auto u-mb-1-sm">
									EN/CZ
								</div>
								<div class="grid__cell size--auto u-mb-1-sm">
									<a href="#" class="nav__link"><span class="nav__icon">{{ iconSVG('user', 'icon-svg--sm') }}</span>Přihlášení</a>
								</div>
								<div class="grid__cell size--auto u-mb-1-sm">
									<a href="#" class="nav__link">Registrace</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="u-bg-grey nav__main">
				<div class="row-main">
					<div class="grid grid--space-between grid--middle">
						<div class="grid__cell size--auto">
							<a class="nav__logo">
								<img src="{{ assets.images }}US-logo.svg" alt="Urbanstore" width="234" height="28">
							</a>
						</div>
						<div class="grid__cell size--auto@sm size--12-12 nav__search-bar">
							<div class="grid grid--middle grid--center-mobile">
								<div class="grid__cell  no-gutter size--auto">
									<input type="text" placeholder="Najděte si své zboží" class="nav__input">
								</div>
								<div class="grid__cell no-gutter size--auto">
									<a class="nav__button">{{ iconSVG('search', 'icon-svg--sm') }}Vyhledat</a>
								</div>
							</div>
						</div>
						<div class="grid__cell size--auto">
							<div class="grid">
								<div class="grid__cell size--auto">
									<div class="nav__button--menu u-mb-2"></div>
								</div>
								<div class="grid__cell size--auto">
									<div class="nav__button--user">{{ iconSVG('user', 'icon-svg--md u-color-primary') }}</div>
								</div>
							</div>
						</div>
						<div class="grid__cell size--auto u-hide u-show@md">
							<div class="nav__basket">
									<a href="#" class="nav__link">{{ iconSVG('basket', 'icon-svg--lg') }} Košík zeje prázdnotou&hellip;</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				<div class="row-main">
					<nav role="navigation" id="menu-main" class="nav__menu">
						<ul class="nav__list grid u-mb-2">
							<li class="grid__cell size--auto">
								<a href="#" class="nav__item is-active">
									{{ iconSVG('Group') }} Výprodej
								</a>
							</li>
							<li class="grid__cell size--auto nav__select">
								<a href="#" class="nav__item">
									Muži
								</a>
								<ul class="nav__select-menu">
									<li>Položka</li>
									<li>Položka</li>
								</ul>
							</li>
							<li class="grid__cell size--auto nav__select">
								<a href="#" class="nav__item">
									Ženy
								</a>
								<ul class="nav__select-menu">
									<li>Položka</li>
									<li>Položka</li>
								</ul>
							</li>
							<li class="grid__cell size--auto nav__select">
								<a href="#" class="nav__item">
									Děti
								</a>
								<ul class="nav__select-menu">
									<li>Položka</li>
									<li>Položka</li>
								</ul>
							</li>
							<li class="grid__cell size--auto nav__select">
								<a href="#" class="nav__item">
									Doplňky
								</a>
								<ul class="nav__select-menu">
									<li>Položka</li>
									<li>Položka</li>
								</ul>
							</li>
							<li class="grid__cell size--auto nav__select">
								<a href="#" class="nav__item">
									Běh
								</a>
								<ul class="nav__select-menu">
									<li>Položka</li>
									<li>Položka</li>
								</ul>
							</li>
							<li class="grid__cell size--auto nav__select">
								<a href="#" class="nav__item">
									Výprodej
								</a>
								<ul class="nav__select-menu">
									<li>Položka</li>
									<li>Položka</li>
								</ul>
							</li>
							<li class="grid__cell size--auto">
								<a href="#" class="nav__item">
									Značky
								</a>
							</li>
							<li class="grid__cell size--auto">
								<a href="#" class="nav__item">
									Návrháři
								</a>
							</li>
						</ul>
					</nav>
				<form action="?" role="search" class="f-search"></form>
		</header>

		{% block content %}{% endblock %}

		<footer role="contentinfo" class="footer u-color-primary u-mb-2">
			<div class="row-main">
				<div class="grid">
					<div class="grid__cell size--3-12@md size--12-12">
						<p class="u-text-medium u-font-bold">
							Zákaznický servis
						</p>
						<ul class="footer__list">
							<li>
								<a href="#" class="footer__link">
									O nás
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Doprava
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Obchodní podmínky
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Platba
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Vrácení zboží
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Twisto - nákup s platbou později
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Reklama
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Affliate program
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Kariéra
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Zpracování osobních údajů
								</a>
							</li>
						</ul>
					</div>
					<div class="grid__cell size--3-12@md size--12-12">
						<p class="u-text-medium u-font-bold">
							Prodejny
						</p>
						<ul class="footer__list">
							<li>
								<a href="#" class="footer__link">
									Praha Václavské náměstí
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Brno
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Praha Galerie Butovice
								</a>
							</li>
						</ul>
					</div>
					<div class="grid__cell size--3-12@md size--12-12">
						<p class="u-text-medium u-font-bold">
							Kontakty
						</p>
						<ul class="footer__list">
							<li>
								<a href="#" class="footer__link">
									E-shop
								</a>
							</li>
							<li>
								<a href="#" class="footer__link">
									Prodejny
								</a>
							</li>
						</ul>
					</div>
					<div class="grid__cell size--3-12@md size--12-12 u-hide u-show@md">
						<img src="{{ assets.images }}illust/shop.png">
					</div>
				</div>
			</div>
		</footer>
		<section class="u-bg-grey copyright">
			<div class="row-main u-text-center">
				Copyright &copy; 2012-2018 Urban Store, s.r.o., Koperníkova 794/6, Praha 2, PSČ 120 00 <br> developed by [a-net group]
			</div>
		</section>
		<section class="u-text-center u-text-small p-1">
			Podle zákona o evidenci tržeb je pordávájící povinen vystavit kupujícímu účtenku. <br>
			Zároveň je povinen zaevidovat přijatou tržbu u správce daně on-line; v případě technického výpadku pak nejpozději do 48 hodin.
		</section>
		<section class="u-bg-grey p-1 u-text-center u-text-small">
			<a href="#" class="u-color-white u-text-underline u-font-bold">{{ iconSVG('mobile', 'icon-svg--md') }}Přepnout na mobilní verzi</a>
		</section>

		<!--[if (gte IE 9) | (!IE)]><!-->
			<script src="{{ assets.scripts }}jquery-2.2.4.min.js"></script>
			<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=default,Array.prototype.includes,Object.values,Array.prototype.find"></script>
			<script src="{{ assets.scripts }}app.js"></script>
			<script>
				App.run({})
			</script>
		<!--<![endif]-->
	</body>
</html>
