// @font-face
// 	font-family 'FontName'
// 	src: url($paths['fonts'] + 'FontName.woff2') format('woff2'),
// 		url($paths['fonts'] + 'FontName.woff') format('woff'),
// 		url($paths['fonts'] + 'FontName.ttf') format('truetype')
// 	font-weight normal
// 	font-style normal
