// row-main
.row-main
	clearfix()
	position relative
	margin 0 auto
	padding 0 20px
	max-width $rowMainWidth

	@media $MQ.mdDown
		padding 0 15px

		&--static
			position static

// grid
.grid
	@extend $reset-ol
	@extend $grid
	margin-left -($gridGutter)
	&__cell
		@extend $reset-ol-li
		@extend $grid__cell
		position relative
		border $gridGutter solid transparent
		border-width 0 0 0 $gridGutter
		&--top
			align-self flex-start
		&--middle
			align-self center
		&--bottom
			align-self flex-end
		&--eq
			display flex
			> *
				flex 1 1 auto

	// VARIANTS
	&--scroll
		@extend $grid--scroll

	// horizontal
	&--middle
		align-items center

	&--bottom
		align-items flex-end

	// vertical
	&--center
		justify-content center

	&--right
		justify-content flex-end

	&--space-between
		justify-content space-between

	// STATES
	// horizontal
	.no-flexwrap &--middle &__cell
		vertical-align middle

	.no-flexwrap &--bottom &__cell
		vertical-align bottom

	// vertical
	.no-flexwrap &--center &__cell
		text-align center

	.no-flexwrap &--right &__cell
		text-align right


.size
	generateGridSize()

.push
	generateGridPush()

.pull
	generateGridPull()

.order
	generateGridOrder()

.grid__cell .no-gutter
	border none !important

@media $MQ.mdDown
	.grid--center-mobile
		justify-content center

	.grid-flex-column-sm
		flex-direction column

	.grid-flex-items-left-sm
		align-items end

@media $MQ.lgDown
	.grid--center-lg
		justify-content center
