<div class="tile  u-mb-2" style="background-image: url({{ assets.images }}{{ category.bg }})">
	<p class="tile__text">
		{{ category.title }}
	</p>
	<p class="tile__text--small">
		- až -
	</p>
	<p class="tile__text">
		{{ category.amount }}
	</p>
</div>
