.inp-select
	@extend $inp
	padding-right 40px
	background url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMCIgaGVpZ2h0PSI1Ij48cGF0aCBmaWxsPSIjMDEwMjAyIiBkPSJNMTAgMEw1IDUgMCAwIi8+PC9zdmc+') top 50% right 15px no-repeat
	background-size 10px 5px
	&::-ms-expand
		display none

